ul{
    font-size: 14px;
    font-weight: 100;
   display: flex;
   list-style: none;
   flex-wrap: wrap;
   height:2vh;
   padding:0.5em 0em 2rem 4rem;

}
ul li{
    margin:10px;
    
}
.end{
    margin-left: auto;
    padding:0 3rem;
}